<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="chatbot-container">
    <header class="chat-header">
        <div class="header-left">
            <div class="icon-container star-container">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z" stroke="#3CC786" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <h1>¿Tienen preguntas?</h1>
        </div>
        <div class="icon-container number-container">
            <span>0</span>
        </div>
    </header>
    <div class="chat">
        <div id="global-messages" class="global-messages">
            <div class="message bot-message">¡Hola! Soy tu Ciroasistente. ¿En qué puedo ayudarte hoy?</div>
        </div>

        <div class="input-container">
            <input type="text" id="user-input" placeholder="Envia un mensaje...">
            <button id="mic-button" class="mic-button"> <svg width="24" height="24" viewBox="0 0 24 24" fill="white" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 14C13.66 14 15 12.66 15 11V5C15 3.34 13.66 2 12 2C10.34 2 9 3.34 9 5V11C9 12.66 10.34 14 12 14ZM10.8 4.9C10.8 4.4 11.2 4 11.7 4H12.3C12.8 4 13.2 4.4 13.2 4.9V11.1C13.2 11.6 12.8 12 12.3 12H11.7C11.2 12 10.8 11.6 10.8 11.1V4.9Z" />
                <path d="M17.3 11C17.3 13.71 15.11 15.9 12.4 15.9C9.69 15.9 7.5 13.71 7.5 11H6C6 14.31 8.54 16.99 11.75 17.41V20H13.25V17.41C16.46 16.99 19 14.31 19 11H17.3Z" />
            </svg>
            </button>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>
</html>